<a href="https://colab.research.google.com/github/Carlos051068/Colab_aula_Anhanguera/blob/main/ubs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Unidades_Basicas_Saude-UBS.csv 
#Como importar arquivos .CSV para seu projeto Google Colab, Jupyter Notebook ou Spider
import numpy as np
import pandas as pd
import plotly.express as px


ubs_df = pd.read_csv('Unidades_Basicas_Saude-UBS.csv') #importar arquivo Bancos_e_financeiras_Irregularidades_por_instituicao_financeira.csv para COLAB

#Bancos_e_financeiras_Irregularidades_por_instituicao_financeira.csv

print(ubs_df.head(6))#mostra as 10 primeiras linhas
display(ubs_df.shape)#mostra quantidade de linha e colunas
display(ubs_df.describe())#mostra um resumo
print('MOSTRA VALOR VAZIO *(DF_ISNA().ANY())*'*2)
display(ubs_df.isna().any()) #mostra valores vazios = True
print('|(DF_ISNA().ANY()) vazio=True*'*3)
print('-'*90)
print('*(DF_ISNA().SUM()) soma vazios*'*2)
display(ubs_df.isna().sum()) #SOMA valores vazios
print('|(DF_ISNA().SUM()) soma vazio*'*2)

#print('TRATAMENTO DE DADO PATOLOGISTA ALOCADO')
#informacao_df['Patologista Alocado']= informacao_df['Patologista Alocado'].fillna(method='ffill')
#print('TRATAMENTO DE DADO ENCERRAMENTO')
#informacao_df['Encerramento']= informacao_df['Encerramento'].fillna(method='ffill')
#print('MOSTRA VALOR VAZIO *(DF_ISNA().ANY())*'*2)
#display(informacao_df.isna().any()) #mostra valores vazios = True
#print('|(DF_ISNA().ANY()) vazio=True*'*3)

#print("H"*90)
#print('CALCULAR INDICADORES utilizando values_counts EXAME/ANO')
#produtividade_ano = informacao_df[['Exame','Ano']].value_counts()
#display(produtividade_ano)

#print('GRAFICO - '*4)

                                                              CNES;UF;IBGE;"NOME";"LOGRADOURO";"BAIRRO";LATITUDE;LONGITUDE
0033820;52;520170;"UNIDADE DE SAUDE DA FAMILIA ... 90682;-52                                            22545.0
0000108;26;260290;"USF ALTO DOS INDIOS";"RUA 17... 28389;-35                                              321.0
0000116;26;260290;"USF CHARNECA II";"RUA 02";"C... 28353;-35                                             2819.0
0000124;26;260290;"USF SAO FRANCISCO I";"RUA MA... 287;-35                                                 35.0
0000132;26;260290;"USF ROSARIO";"RUA 01";"ROSAR... 28389;-35                                              321.0
0000140;26;260290;"USF JUSSARAL";"ESTRADA DA VI... 287;-35                                                 35.0

(40260, 1)

       CNES;UF;IBGE;"NOME";"LOGRADOURO";"BAIRRO";LATITUDE;LONGITUDE
count                                       40079.000000
mean                                        30492.569425
std                                         32914.853762
min                                             1.000000
25%                                           678.000000
50%                                         16662.000000
75%                                         57003.500000
max                                         99997.000000

MOSTRA VALOR VAZIO *(DF_ISNA().ANY())*MOSTRA VALOR VAZIO *(DF_ISNA().ANY())*

CNES;UF;IBGE;"NOME";"LOGRADOURO";"BAIRRO";LATITUDE;LONGITUDE    True
dtype: bool

|(DF_ISNA().ANY()) vazio=True*|(DF_ISNA().ANY()) vazio=True*|(DF_ISNA().ANY()) vazio=True*
------------------------------------------------------------------------------------------
*(DF_ISNA().SUM()) soma vazios**(DF_ISNA().SUM()) soma vazios*

CNES;UF;IBGE;"NOME";"LOGRADOURO";"BAIRRO";LATITUDE;LONGITUDE    181
dtype: int64

|(DF_ISNA().SUM()) soma vazio*|(DF_ISNA().SUM()) soma vazio*